.list-group-item{
    background-color: rgb(109, 49, 49);
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 45px;
    border-radius: 5px;
}

button{
    margin-bottom: 5px;
}