body{
    background-color: red;
    margin: 0;
}

header{
    border: 19px solid black;
    margin-top: 10px;
}



h1{
    margin-bottom: 3cm;
    margin-top: 2cm;
}

p{
    margin-bottom: 1cm;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: larger;
    text-decoration-line: underline;
    text-decoration-color: b;
}